.p-username
{
    padding: 0 20px;
    display: flex;
    font-weight: bold;
    color:navy;
    justify-content: left;
}

ul{
    display: flex;
    justify-content: space-around;

}

.li-item{
    padding: 0 20px 0 0px;
    display: flex;    
    text-decoration: none;
    text-decoration-line: none;
    justify-content: space-between;

    font-style: none;
    list-style: none;
 
    
}